.chat-main
  .main-header
    .main-header__info
      %h2.main-header__info__groupname
        = @group.name
      %ul.main-header__info__member-list
        = "Member : "
        %li.main-header__info__member-list__member
          = @group.users.pluck(:name).join(", ")
    .edit-btn
      =link_to edit_group_path(@group), class: "edit" do
        .edit
          = "Edit"  

  .messages
    = render partial: 'message', collection: @messages


  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, placeholder: "type a message", class: 'input-box__text'
        = f.label :image, class: 'input-box__image' do
          = icon("far", "image", class: 'icon') 
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'